.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.706055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.856445;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._b{margin-left:-3.216000px;}
._1{margin-left:-2.160000px;}
._6{margin-left:-1.104000px;}
._0{width:1.824000px;}
._3{width:2.976000px;}
._7{width:4.416000px;}
._9{width:6.048000px;}
._a{width:7.872000px;}
._5{width:10.032000px;}
._2{width:16.176000px;}
._8{width:17.280000px;}
._4{width:23.904000px;}
._c{width:25.344000px;}
._d{width:29.712000px;}
._e{width:47.040000px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:44.000000px;}
.fs0{font-size:48.000000px;}
.y26{bottom:7.497001px;}
.y22{bottom:9.495000px;}
.y24{bottom:9.747001px;}
.y35{bottom:10.596001px;}
.y29{bottom:13.348000px;}
.y2d{bottom:15.947000px;}
.y2b{bottom:16.997001px;}
.y32{bottom:24.024002px;}
.y34{bottom:24.395000px;}
.y28{bottom:27.146998px;}
.y31{bottom:37.823001px;}
.y30{bottom:38.552001px;}
.y16{bottom:101.640976px;}
.y15{bottom:129.238979px;}
.y14{bottom:156.836978px;}
.y13{bottom:184.435013px;}
.y20{bottom:188.382022px;}
.y17{bottom:199.500000px;}
.y33{bottom:200.084999px;}
.y12{bottom:212.033005px;}
.y2f{bottom:236.182999px;}
.y11{bottom:239.631012px;}
.y10{bottom:267.229012px;}
.y2e{bottom:285.709003px;}
.yf{bottom:294.827011px;}
.y2c{bottom:314.409002px;}
.ye{bottom:322.425014px;}
.y2a{bottom:342.059002px;}
.yd{bottom:350.023013px;}
.yc{bottom:377.620987px;}
.y1f{bottom:382.446985px;}
.y1e{bottom:397.337985px;}
.yb{bottom:405.218990px;}
.y1d{bottom:424.936008px;}
.ya{bottom:432.816989px;}
.y27{bottom:436.639008px;}
.y9{bottom:460.414996px;}
.y25{bottom:475.489006px;}
.y8{bottom:488.012993px;}
.y23{bottom:494.689005px;}
.y7{bottom:515.611000px;}
.y21{bottom:516.139006px;}
.y6{bottom:543.208992px;}
.y1c{bottom:555.915995px;}
.y1b{bottom:570.806994px;}
.y5{bottom:570.806999px;}
.y4{bottom:598.404999px;}
.y1a{bottom:598.405003px;}
.y3{bottom:626.002998px;}
.y19{bottom:626.003001px;}
.y18{bottom:639.801997px;}
.y2{bottom:653.601002px;}
.y1{bottom:681.199000px;}
.y0{bottom:708.797000px;}
.h6{height:18.700001px;}
.h4{height:20.698000px;}
.h5{height:20.950001px;}
.h9{height:27.150000px;}
.h8{height:28.200001px;}
.hb{height:29.841797px;}
.h1{height:32.531250px;}
.h2{height:33.351562px;}
.hc{height:35.598000px;}
.h7{height:38.349998px;}
.ha{height:49.026001px;}
.h3{height:338.000000px;}
.h0{height:792.000000px;}
.w6{width:72.150002px;}
.w3{width:92.500000px;}
.w2{width:142.300003px;}
.w5{width:143.250000px;}
.w4{width:215.949997px;}
.w7{width:250.600006px;}
.w1{width:469.500000px;}
.w0{width:612.000000px;}
.x7{left:5.150000px;}
.x0{left:72.000000px;}
.x3{left:79.500000px;}
.xa{left:81.500000px;}
.x5{left:90.000000px;}
.x4{left:93.799999px;}
.x2{left:108.000000px;}
.x1{left:109.900002px;}
.x6{left:214.341995px;}
.x8{left:222.925003px;}
.xb{left:225.250000px;}
.xc{left:297.899994px;}
.x9{left:315.925003px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._b{margin-left:-4.288000pt;}
._1{margin-left:-2.880000pt;}
._6{margin-left:-1.472000pt;}
._0{width:2.432000pt;}
._3{width:3.968000pt;}
._7{width:5.888000pt;}
._9{width:8.064000pt;}
._a{width:10.496000pt;}
._5{width:13.376000pt;}
._2{width:21.568000pt;}
._8{width:23.040000pt;}
._4{width:31.872000pt;}
._c{width:33.792000pt;}
._d{width:39.616000pt;}
._e{width:62.720000pt;}
.fs1{font-size:58.666667pt;}
.fs0{font-size:64.000000pt;}
.y26{bottom:9.996001pt;}
.y22{bottom:12.660000pt;}
.y24{bottom:12.996001pt;}
.y35{bottom:14.128001pt;}
.y29{bottom:17.797333pt;}
.y2d{bottom:21.262666pt;}
.y2b{bottom:22.662668pt;}
.y32{bottom:32.032003pt;}
.y34{bottom:32.526666pt;}
.y28{bottom:36.195998pt;}
.y31{bottom:50.430668pt;}
.y30{bottom:51.402668pt;}
.y16{bottom:135.521301pt;}
.y15{bottom:172.318639pt;}
.y14{bottom:209.115971pt;}
.y13{bottom:245.913350pt;}
.y20{bottom:251.176029pt;}
.y17{bottom:266.000000pt;}
.y33{bottom:266.779999pt;}
.y12{bottom:282.710673pt;}
.y2f{bottom:314.910665pt;}
.y11{bottom:319.508016pt;}
.y10{bottom:356.305349pt;}
.y2e{bottom:380.945338pt;}
.yf{bottom:393.102681pt;}
.y2c{bottom:419.212003pt;}
.ye{bottom:429.900019pt;}
.y2a{bottom:456.078669pt;}
.yd{bottom:466.697351pt;}
.yc{bottom:503.494649pt;}
.y1f{bottom:509.929314pt;}
.y1e{bottom:529.783980pt;}
.yb{bottom:540.291987pt;}
.y1d{bottom:566.581343pt;}
.ya{bottom:577.089319pt;}
.y27{bottom:582.185343pt;}
.y9{bottom:613.886662pt;}
.y25{bottom:633.985341pt;}
.y8{bottom:650.683990pt;}
.y23{bottom:659.585340pt;}
.y7{bottom:687.481333pt;}
.y21{bottom:688.185341pt;}
.y6{bottom:724.278656pt;}
.y1c{bottom:741.221326pt;}
.y1b{bottom:761.075993pt;}
.y5{bottom:761.075999pt;}
.y4{bottom:797.873332pt;}
.y1a{bottom:797.873337pt;}
.y3{bottom:834.670664pt;}
.y19{bottom:834.670668pt;}
.y18{bottom:853.069330pt;}
.y2{bottom:871.468002pt;}
.y1{bottom:908.265334pt;}
.y0{bottom:945.062667pt;}
.h6{height:24.933334pt;}
.h4{height:27.597333pt;}
.h5{height:27.933334pt;}
.h9{height:36.199999pt;}
.h8{height:37.600001pt;}
.hb{height:39.789062pt;}
.h1{height:43.375000pt;}
.h2{height:44.468750pt;}
.hc{height:47.463999pt;}
.h7{height:51.133331pt;}
.ha{height:65.368001pt;}
.h3{height:450.666667pt;}
.h0{height:1056.000000pt;}
.w6{width:96.200002pt;}
.w3{width:123.333333pt;}
.w2{width:189.733337pt;}
.w5{width:191.000000pt;}
.w4{width:287.933329pt;}
.w7{width:334.133341pt;}
.w1{width:626.000000pt;}
.w0{width:816.000000pt;}
.x7{left:6.866667pt;}
.x0{left:96.000000pt;}
.x3{left:106.000000pt;}
.xa{left:108.666667pt;}
.x5{left:120.000000pt;}
.x4{left:125.066666pt;}
.x2{left:144.000000pt;}
.x1{left:146.533335pt;}
.x6{left:285.789327pt;}
.x8{left:297.233337pt;}
.xb{left:300.333333pt;}
.xc{left:397.199992pt;}
.x9{left:421.233337pt;}
}
